<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/style.css}">
<link href="https://fonts.googleapis.com/css?family=Indie+Flower|Lobster|Source+Serif+Pro&display=swap" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Nutrition APP</title>

</head>
<body>
<header>
<h1>Welcome to nutrition app!</h1>
<h2>Your plan:</h2>
</header>

<form th:each="meal: ${mealPlan.getMeals()}" style="position: center">
    <div class="card">
        <p><b>Title:</b> </p><p th:text="${meal.getTitle()}"></p>
        <p><b>Ready in minutes:</b> </p><p th:text="${meal.getReadyInMinutes()}"></p>
        <p><b>Servings: </b></p><p th:text="${meal.getServings()}"></p>
<img style="width: 100%;height: auto" th:src="@{https://spoonacular.com/recipeImages/{url} (url=${meal.getImage()})}" alt="FoodImage">
    </div>
    <br>
</form>
<form>
    <div class="card">
        <p><b>Calories:</b> <p th:text="${mealPlan.getNutrients().getCalories()}"></p></p>
        <p><b>Carbohydrates: </b><p th:text="${mealPlan.getNutrients().getCarbohydrates()}"></p></p>
        <p><b>Fat: </b><p th:text="${mealPlan.getNutrients().getFat()}"></p></p>
        <p><b>Protein: </b><p th:text="${mealPlan.getNutrients().getProtein()}"></p></p>
    </div>
</form>

<p><a style="text-align: center" class="button1 button" th:href="@{/}">Go back to main page</a></p>
</body>
</html>